.btn {
    width: 125px;
    padding: 10px 0px;
    border-radius: 20px;
    display: block;
    margin-top: 10px;

    &.btn-laranja {
        background-color: orange;
        color: white;
    }
    &.btn-azul {
        background-color: darkblue;
        color: white;
    }
}

.btn-roxo {
    @extend .btn;
    background-color: darkmagenta;
    color: white;
}